<li class='list-inline-item'>
  <a href='https://instagram.com/cookformomdotcom' target='_blank'
    onclick={{action clickedSocial 'instagram'}}>
    <img src='/assets/images/social/instagram.png'>
  </a>
</li>

<li class='list-inline-item'>
  <a href='https://facebook.com/cookformomdotcom' target='_blank'
    onclick={{action clickedSocial 'facebook'}}>
    <img src='/assets/images/social/facebook.png'>
  </a>
</li>

<li class='list-inline-item'>
  <a href='https://www.pinterest.com/cookformom/cook-for-mom/' target='_blank'
    onclick={{action clickedSocial 'pinterest'}}>
    <img src='/assets/images/social/pinterest.png'>
  </a>
</li>

<li class='list-inline-item'>
  <a href='https://twitter.com/cookformom' target='_blank'
    onclick={{action clickedSocial 'twitter'}}>
    <img src='/assets/images/social/twitter.png'>
  </a>
</li>

<li class='list-inline-item'>
  <a href='https://reddit.com/r/cookformom' target='_blank'
    onclick={{action clickedSocial 'reddit'}}>
    <img src='/assets/images/social/reddit.png'>
  </a>
</li>
